.bannerbox {
  background-color: yellow;
  height: 25rem;
  width: 40rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

.arrow {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  left: 0;
  position: absolute;
}

/*
.left:hover {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  );
}
*/

.right {
  right: 0;
  position: absolute;
}

/*
.right:hover {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  );
}
*/

.imageleft {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
}

.imageright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
}

.bannerfooter {
  bottom: 0;
  position: absolute;
  height: 1rem;
  width: 100%;
  background-color: red;
}
