.pad {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  width: 60rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 24px 0 rgba(0, 0, 0, 0.32);
}

.card {
  height: 12rem;
  width: 11rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding-top: 0.3rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 24px 0 rgba(0, 0, 0, 0.32);
}

.img-div {
  height: 10rem;
  width: 10rem;
  top: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.img-box {
  top: 0;
  height: 9rem;
  width: 9rem;
  position: absolute;
}

.text-div {
  height: 2rem;
  width: 10rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.img-cat-text {
  width: 9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.img-cat-text:hover {
  overflow: visible;
}

.cat-title {
  height: 4rem;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
}

.text {
  margin-left: 4rem;
}
