.nav-box {
  width: 100%;
  height: 5rem;
  background-color: #e84118;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 2;
}

.image {
  width: 5rem;
  height: 5rem;
}

.logo-box {
  left: 0;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  z-index: 5;
}

.search-box:hover > .search-text {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 20px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.elements {
  position: absolute;
  height: 5rem;
  width: 50rem;
  display: flex;
  justify-content: space-around;
  right: 0;
  align-items: center;
}

.menu,
.cart,
.heart {
  height: 40px;
  width: 40px;
  color: white;
}
.menu:hover,
.cart:hover,
.heart:hover {
  transform: scale(1.2);
  transition: 0.2s;
  cursor: pointer;
}

.menu {
  display: none;
}

.login-btn {
  color: white;
  font-size: 20px;
  border: solid 2px #2f3640;
  height: 3rem;
  width: 6rem;
  background-color: #e84118;
  border-radius: 1rem;
  transition: 0.2s;
}

.login-btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}
